@charset "utf-8";
#darkonly{display:none} #lightonly{display:inline-block}
body {margin:0;background:#f0f8ff;height:100%;display:flex;flex-direction:column;-webkit-text-size-adjust:100%;overflow-y:scroll;scrollbar-width:thin;padding:0}
#thatlangsel{background:white;box-shadow:0 4px 6px rgba(0,0,0,0.2);padding:0.5em;border-radius:0.5em;border:0;text-align:center;transition-duration: 0.1s;margin:0;cursor:pointer}
* {scrollbar-width:thin}
::-webkit-scrollbar {width:9px}
::-webkit-scrollbar-track {background:transparent}
::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent
}

.flx, .flxb{flex-flow:wrap;display:flex;justify-content:space-between} .flx div{vertical-align:middle} .flx{align-items:center} #iL2b, #iR1{padding:0.5em}
.flxb{} #iR1{pointer-events:none;position:fixed;left:0;z-index:3;padding-left:calc(5% + 5em + 0.5em);padding-right:calc(95% - 5em - 16em);width:16em;overflow-y:auto;height:calc(100vh - 10em - env(safe-area-inset-bottom) - env(safe-area-inset-top))}
.iL1txt{display:inline-block;border-top:0.4em solid #557788;padding:1.2em 0.8em 0 0.8em;margin:1.25em 0.5em 0.75em 0.5em;width:max-content;color:black;border-radius:0.3em}
.iL1bb{vertical-align:middle;background:red;padding:0.3em;min-width:1em;min-height:1em;display:inline-block;border-radius:50em;text-align:center;color:white;display:none}
.iL1txt img{object-fit:contain;width:2rem;height:2rem;vertical-align:middle;margin-right:0.4em} .iL1txt p73{vertical-align:middle}
#justtxt{padding:0.25em 0.5em} .bigjusttxtmargin #justtxt{padding:0.5em 0.75em}
#iL3bL{margin:0.4em 0} #iL3bR{text-align:center;margin:0.4em}
#iL3a{color:grey;border-bottom:2px solid #aaaaaa;padding-bottom:0.4em;margin-bottom:0.6em}
#iL3b{margin:0.5em;margin-bottom:0;color:black}
#iL3c{margin:0.4em 0.75em 0.25em 0.75em}
#iL3cO{border-radius:2em;background:#eeeeee;width:100%}
#iL3c #iL3cO {width:auto;min-height:2em;min-width:2em;margin:0.2em;color:black;background:#f8f8f8;user-select:none}
.iL3cI{padding:0.15em;border-radius:5em;background:#cccccc;text-align:right}
#iL2b{border-radius:0.75em;background:#f4f4f4f4;margin-top:0.5em}
#iL2b{background:none}
#iL2a{margin:0.5em;margin-bottom:1.25em;padding:0.75em;background:white;box-shadow: 0 0.5em 1em rgba(0,0,0,.1);border-radius:0.75em} .dogrun #iL2a{margin:0.5em}
#card3 #iL1 #iL2a{background-repeat:no-repeat;background-size:cover;background-position:center center}
#card3 #iL1 div:not(.dogrun) > #iL2a{padding:0;background-color:#ddd}
#card3 #iL1 #iL2a #iL2ax{padding:0.75em;border-radius:0.75em;background-color:rgba(255,255,255,.95);background:linear-gradient(135deg, white 0%, rgba(255,255,255,.925) 50%, rgba(255,255,255,.85) 100%);backdrop-filter:blur(0em);-webkit-backdrop-filter:blur(0em)}
#iL1{width:calc( 100% - 17em );margin-left:17em}
#sL2a{margin:1em 0;background:white;background:repeating-linear-gradient(-45deg, white, white 0.3em, #fafafa 0.3em, #fafafa 0.6em);box-shadow: 0 0.25em 0.25em rgba(0,0,0,.1);border-radius:16px;transition-duration:0.04s;border:2.5px solid rgba(0,0,0,.125)} .dwhdb, .ib, .ciL2b{transition-duration:0.1s}
.jtg{background:rgba(128,128,128,.15);color:#999999;margin:0 0.5em 0.5em 0;display:inline-block}
.dwagb{position:relative}
.dw_ambiG{display:none}
.dw_ambiGx{display:block;width:100%;height:100%;filter:blur(0.5em);opacity:0.3;position:absolute;top:0;left:0;bottom:0;right:0;z-index:0;object-fit:cover}
#iL2ax{position:relative} #iL2ax > div{z-index:1;position:relative}

.zhGnuWwpNxI{}
.searchimg{max-height:10em;width:100%;max-width:10em;aspect-ratio:1;object-fit:contain;user-select:none}

.logo_img{object-fit:contain;width:25%;position:absolute;padding-top:5em;transition-duration:0.2s}
.logo_img:hover{transform:scale(1.025)}
.hero_img{object-fit:cover;width:100%;height:calc(50vh + 15em)}
.hero_card{border-radius:0.5em;padding:2em;box-shadow:0 0.5em 1em rgba(0,0,0,.3);max-width:calc(90% - 14em);overflow-x:auto;scrollbar-width:thin;transform:translateX(calc(5vw + 5em)) translateY(-50%);background:white;backdrop-filter:blur(1em);-webkit-backdrop-filter:blur(1em);width:min-content;white-space:pre}
.hero_card_text{}
.dwc_ytemb{width:min-content;margin:0.5em;margin-top:0}
.dwc_ytemb iframe{width:640px;height:360px}
.dwytT{width:max-content;justify-content:flex-start!important;margin:0.25em 0}
.dwytI{display:inline-block!important;margin:0.5em 0.75em 0.5em 0}
.dwytP{border-radius:0.75em;box-shadow:0 0.1em 0.25em rgba(0,0,0,.3)}
.dwc_wp{text-overflow:clip;overflow:hidden;max-width:100%;padding-bottom:0;padding-top:0!important;transform:translateY(-2.25em)}
.dwc_f1{margin:0.5em;margin-bottom:0.25em}
.dwc_f1_l1{margin:0 0.5em 0.5em 0}
.dwc_f1_l1, .dwc_f1_l2{overflow-x:auto;white-space:pre;flex-flow:row!important;scrollbar-width:thin;scrollbar-color:dark}
.dwc_f1_l2{margin:0;padding:0.4em;border-radius:1em}
.dwc_f2{justify-content:flex-start!important}
.dwc_hr{border-left:1px solid grey;height:3em;margin:0.5em}
.dwc_gsw{padding:1em;padding-top:0.5em;margin-bottom:1em;border-radius:1em;user-select:none;justify-content:flex-end!important;width:100%}
.dwts{padding:0.25em 0.5em;margin:0 0.25em;justify-content:unset!important;color:black!important}

.home_spotlight_arrow, .circle_text{user-select:none;pointer-events: none;position: relative;aspect-ratio:1;padding:0.3em;border-radius:1.5em;min-width:1.5em;min-height:1.5em;background-color:rgba(160,160,160,.15);color:#666666;text-align:center;align-items:center;display:flex;justify-content:center}
.home_spotlight_arrow{padding:0.5em;border:0.15em solid rgba(0,0,0,.1);opacity:0;transition-duration:0.2s;transition-timing-function:cubic-bezier(.19,1,.22,1)}
.home_spotlight_arrow:hover{background-color:#8888ff;border:0.15em solid rgba(160,160,255,0);color:white}
.home_spotlight_arrow:hover:active{transform:scale(0.9)}

.dwssview, .bottom_wrp > .dwssview{margin:0.25em;margin-top:0;position:relative;height:2.75em}
.dwssview-wrp{transition-duration:0.1s;display:block;border-radius:1em;padding:8px 8px 0 0;margin:0 0.25em}
.dwssview-sel{white-space:nowrap;padding:0.5em;margin:0 0 8px 8px;width:calc(100% - 8px);background:none;vertical-align:middle;text-align:center}
.dwssview-sel-h{transition-duration:0.1s;display:none}
.dwssview-sel-h:hover{background:rgba(0,0,0,.05)}
.dwssview-sel-h:hover:active{transform:scale(.95)}
.dwssview-sel-s{background-color:rgba(0,0,0,0);transition-duration:0s;padding:0.65em 0.75em;border-bottom:0.2em solid rgba(128,128,128,.3);border-radius:0!important}
.dwssview-sel-s:hover{border-bottom:0.2em solid rgba(128,128,128,.6)}
.dwssview-sel img{margin-right:0.6em;display:inline-block;width:auto;margin-bottom:0}
.dwssview-sel-tri{display:inline-block;width:0;height:0;border-left:0.4em solid rgba(0,0,0,0);border-right:0.4em solid rgba(0,0,0,0);border-top:0.4em solid black;margin-left:0.5em;opacity:0.8}
.dwssview-wrp:focus-within{background-color:white;width:min-content;box-shadow:0 0.5em 1em rgba(0,0,0,.3);z-index:1;margin:0 0.75em;max-height:10em;overflow-x:auto;scrollbar-width:thin;position:relative;bottom:0;transform:translateX(-0%)}
.dwssview-wrp:focus-within .dwssview-sel{padding:0.75em 1em}
.dwssview-wrp:focus-within .dwssview-sel-h{display:inline-block}
.dwssview-wrp:focus-within .dwssview-sel-s{background-color:rgba(0,0,0,.1);cursor:default;border-radius:1em!important;border-bottom:none}
.dwssview-wrp:focus-within > a {color:black;font-size:13.25px;font-weight:lighter;width:auto!important;border-radius:1em}
.dwssview-wrp:focus-within .dwssview-sel-s:hover{border-bottom:none}
.dwssview-wrp:focus-within .dwssview-sel-tri{display:none}
@media (prefers-color-scheme: dark) {
    .dwssview-sel-s{background-color:rgba(255,255,255,0)}
    .dwssview-sel-h:hover{background:rgba(255,255,255,.1)}
    .dwssview-sel-tri{border-top:0.4em solid white}
    .dwssview-wrp:focus-within{background-color:#2f2c29}
    .dwssview-wrp:focus-within .dwssview-sel-s{background-color:rgba(255,255,255,.2)}
    .dwssview-wrp:focus-within > a {color:#eee}
}

.lib_week_item{border-top:0.1em dotted grey;border-left:0.1em dotted grey}
.lib_week_item:nth-child(even){border-top:0.1em dotted rgba(128,128,128,.5)}
.lib_week_id{grid-column:0;opacity:.5;text-align:center;margin:0.25em;font-size:smaller}
.lib_cal{display:grid;grid-template-columns: auto repeat(7, minmax(auto,1fr)); grid-auto-flow: column;}

.fatrice {
    flex-grow: 1;
    width: 100%;
    justify-content: space-evenly;
    max-width: 82.5em;
}
.ricecake {
    border-radius: 1em;
    position: relative;
    background-color: white;
    color: #1f1c19;
    margin: 0.5em;
    padding-top: 0.5em;
    box-shadow: 0.5em 0.5em 0 rgba(160,160,255,.3);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    max-width: 20em;
}
.ricecake > .ricecake_dots {
    border: 2px dotted #9999ff;
    padding: 1.75em 1.5em 1.25em 1.5em;
    margin: 1em;
    border-radius: 1em;
    font-weight: bold;
}
.ricecake > .ricecake_dots > h3 {
    background: linear-gradient(0deg, rgba(160,160,255,.5) 40%, transparent 40%);
    width: min-content;
    white-space: pre;
    margin: 0;
    line-height: 1.2;
}
.ricecake > .ricecake_plate {
	border-radius: 1em;
	padding: 0.5em 1em;
	position: absolute;
	top: 0.75em;
	left: 3em;
	background-color: white;
	color: #9999ff;
	font-size: small;
	font-weight: bold;
	border: 2px solid rgba(160,160,255,.8);
}
#rc_desc {
    white-space: break-spaces;
    font-weight: normal;
}

.dtl_wrp{background-color:white;border-radius:1em;padding:1em;width:100%;max-width:53em;margin:2em;margin-bottom:1em}
.circle_text_wrp{flex-flow: nowrap;padding-right:1em;border-right:0.15em dotted rgba(128,128,128,.5)}
.circle_text_mline > div {flex-flow:wrap;display:flex;flex-direction:column;justify-content:space-between;text-align:center;align-items:center}
.circle_text_mline > div > p3 {vertical-align:middle;opacity:0.5;margin-top:0.25em}
#circle_check{background-color:green;padding:0.1em;position:absolute;bottom:0;right:0;border-radius:1em;display:inherit}
#circle_check:after{content:'';border-radius: 0.025em;border:0.1em solid white;border-left: 0;border-top: 0;width: 0.125em;height: 0.3em;margin: 0.1em 0.1875em;transform:rotate(45deg) translateX(-0.02em) translateY(-0.02em);display: inline-block}
#circle_delay{background-color:orange;padding:0.1em;position:absolute;bottom:0;right:0;border-radius:1em;display:inherit}
#circle_delay:after{content:'';border-radius: 0.025em;border:0.1em solid white;border-left: 0;border-top: 0;width: 0.2125em;height: 0.2125em;margin: 0.14375em;transform:rotate(-45deg) translateX(-0.035em) translateY(-0.035em);display: inline-block}
.timeline_wrp{justify-content:center;flex-grow:1}
.timeline_arrow{transition-duration: 0.1s;transform: rotate(45deg) translateY(-0.5em);border-radius:0.05em;border-top:0.2em solid rgba(128,128,128,.3);border-right:0.2em solid rgba(128,128,128,.3);width:0.75em;height:0.75em;margin-top:0.75em;margin-right:0.75em}

.dm_top_bw{overflow:hidden;position:relative}
.dm_top_wrp, .dm_top_bw{width:100%;background-color:#fafafa;background:repeating-linear-gradient(-45deg, white, white 0.3em, #fafafa 0.3em, #fafafa 0.6em);background-repeat:no-repeat;background-size:cover;background-position:center center}
.dm_top_txt_wrp{position:absolute;width:100%;height:26em;height:0;font-weight:bold}
.dm_top_txt{position:sticky;top:5.25em;padding-top:1em!important}
.dm_top_txt p1{color:rgba(255,255,255,.6)}
.dm_top_txt > p1{padding:0.5em 0;line-height:1}
.dmbtn{border-bottom:2px solid rgba(255,255,255,.3);border-radius:0!important;padding:0.5em;transition-duration:0.1s;background:none;font-weight:bold;font-size:unset;color:rgba(255,255,255,.6)!important}
.dmbtn:hover{border-bottom:2px solid rgba(255,255,255,.6)}
.dmbtn:hover:active{transform:scale(0.95)}
.dm_top_picker_wrp{flex-flow:column!important;margin-top:28.5em}
.dm_top_picker{margin-bottom:1.5em;height:3em;width:100%;max-width:90vw;flex-flow:nowrap!important}

.dm_top_picker_arrow_left, .dm_top_picker_arrow_right{transition-duration:0.5s;transition-timing-function:cubic-bezier(.19,1,.22,1)}
.dm_top_picker_arrow_left{margin-right:0;transform:scaleX(-1)}
.dm_top_picker_arrow_right{margin-right:100%}
.dm_top_picker_left, .dm_top_picker_right{user-select:none;transition-duration:0.1s}
.dm_top_picker_left{border-radius:5em 0 0 5em;padding:0.75em 1.25em 0.75em 1.75em;text-align:left;color:#6666ff;background-color:#eeeeff}
.dm_top_picker_right{border-radius:0 5em 5em 0;padding:0.75em 1.75em 0.75em 1.25em;text-align:right;color:#f80;background-color:#fff7ee}
.dm_top_pb_left, .dm_top_pb_right{height:4.375em;width:2.5em}
.dm_top_pb_left{border-radius:5em 0 0 5em;background-color:#eeeeff}
.dm_top_pb_right{border-radius:0 5em 5em 0;background-color:#fff7ee}
.dm_picker{margin:0.5em;filter:drop-shadow(0 0.25em 0.5em rgba(0,0,0,.25));border-radius:5em}
.dm_picker_wrp{width:100%;justify-content:space-around!important;border-top:2px dotted rgba(128,128,128,.6);padding:2em 0 1em 0}
.dm_top_picker_left:hover{color:#eef;background-color:#66f}
.dm_top_picker_right:hover{color:#fff7ee;background-color:#f80}
.dm_top_picker_left:hover > .dm_top_picker_arrow_left{margin-right:calc(100% - 1em)}
.dm_top_picker_right:hover > .dm_top_picker_arrow_right{margin-right:0}
.dm_top_picker_left:hover:active, .dm_top_picker_right:hover:active{transform:scale(0.95)}

.dm_top_cnt_wrp{justify-content:center!important;background:linear-gradient(180deg, rgba(0,0,0,.6), rgba(0,0,0,.1), rgba(0,0,0,.2))}
.dm_top_cnt{flex-flow:column!important;text-align:center;background:white;padding:1em 5.5em 1em 5.5em;border-radius:7.5em 7.5em 0 0}
.hero_card_label{opacity:0;margin:0.75em!important;margin-top:0.25em!important}
.dm_top_cnt_pic{object-fit:cover;opacity:1;position:absolute;left:0;right:0;bottom:0;top:0;width:100%;height:100%;transition-duration:.375s;transition-timing-function:cubic-bezier(.19,1,.22,1)}
.dm_top_cnt_pic.pre-animation{opacity:0;transition-duration:0s}

.dm_timeline_wrp{justify-content:center!important}
.dmtlb{margin:0.45em;border-radius:5em;background-color:white;box-shadow:0 0.25em 0.5em rgba(0,0,0,.25);height:0;width:0!important;user-select:none;text-align:center;flex-flow:nowrap!important;white-space:pre;color:rgba(0,0,0,.8)!important;backdrop-filter:blur(1em);-webkit-backdrop-filter:blur(1em)}
.dm_tl_b1{padding:0.25em;opacity:0.85}
.dm_tl_b2{padding:0.875em;opacity:0.975}
.dm_tl_b3{padding:2em}
.dm_tl_b4{padding:2.5em}
.dm_timeline, .dm_timeline > .flx {flex-flow:nowrap!important}
.dm_timeline{width:min-content;justify-content:space-evenly!important;margin:0.5em}
.dm_timeline .flx{width:100%;justify-content:space-around!important}
.dmtlbdx, .dmtlbd > .dmtlb{background-color:#ccffee}
.dmtlby{background-color:#ccffee}
.dmtl_grey{background-color:#e0e0e0;background-image:linear-gradient(#e2e2e2, #c0c0c0);background-image:radial-gradient(at 50% 0%, #f0f0f0 0, #e0e0e0 50%, #c0c0c0 100%)}
.dmtl_green{background-color:#44dd77;background-image:linear-gradient(#4df080, #33e466);background-image:radial-gradient(at 50% 0%, #4df080 0, #44dd77 50%, #33e466 100%)}
.dmtl_yellow{background-color:#aaddff;background-image:linear-gradient(#bbeeff, #99ccee);background-image:radial-gradient(at 50% 0%, #bbeeff 0, #aaddff 50%, #99ccee 100%)}

.dpv_ytemb{width:min-content;margin:0 1em 0.5em 0;scroll-snap-align:start}
.dpv_carrier{scroll-snap-type:x mandatory;scroll-padding:calc(5vw + 5em);padding-top:1em!important;padding-bottom:1.5em!important;overflow-x:auto;white-space:pre;flex-flow:row!important;scrollbar-width:thin;scrollbar-color:dark;justify-content:flex-start!important}
.dpv_ytemb iframe{width:640px;height:360px;aspect-ratio: 16 / 9;border-radius:0.75em;box-shadow:0 0.1em 0.25em rgba(0,0,0,.3)}
.dpv_ytemb_endx{margin-left:calc(5% + 5em - 0.25em);opacity:0;width:0}
.dpv_txt{justify-content:flex-start!important;margin:0.5em 0}
.dpv_lvl{background:rgba(128,128,128,.15);color:#999999;margin:0.25em 0.7em 0.25em 0;display:inline-block}
.dpv_hide{flex-flow:row!important}
.dpv_hide_btn, .dpv_hide_btn_lbl, .dpv_hide_btn_lbl_wrp{display:none}
.dpv_hide_btn_lbl_wrp{width:100%;border:0;background:none;margin:0;padding:0;cursor:default}
.dpv_hide_btn_lbl{text-align:center;cursor:pointer;padding:1em;width:calc(100% - 4em);background-color:white;border:0;border-radius:3em;margin:1em;box-shadow:0 0.25em 0.5em rgba(0,0,0,.2)}

.rate{padding:0.5em 1em;margin:0 0 0 0.5em;background:white;border-radius:1em}
.rate:not(:checked) > input {position:absolute;top:-1000000vh}
.rate:not(:checked) > label {float:right;width:0.85em;padding:0 0.1em;overflow:hidden;white-space:nowrap;cursor:pointer;font-size:30px;color:#ccc}
.rate:not(:checked) > label:before{content:'★ '}
.rate > input:checked ~ label {color: #ffcc00}
.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label,
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {color: #ff9999}

.cL2a{position:relative;padding:7.5em;background:white;background-image:repeating-linear-gradient(-45deg, white, white 0.3em, #fafafa 0.3em, #fafafa 0.6em)}
.cL2a .logo_img{width:auto;height:100%;max-height:15em;position:relative;padding:5em 0}
.cL2aYT{padding:0!important;width:100%;min-height:75vh;max-height:calc(100vw / 16 * 9);aspect-ratio: 16 / 9}
@supports (aspect-ratio: 16 / 9) {.cL2aYT{min-height:0!important}}

.card{padding:2em calc( 5% + 5em );width: calc(90% - 10em)}
.cardherodrop{width:max-content;padding:0.5em 1.5em 1.5em calc( 5% + 5em );max-width:80vw}
.ciL2b{background:#fffcf9e8;box-shadow:0 0.25em 0.5em rgba(0,0,0,.5);margin:4px;padding:16px;border-radius:16px;backdrop-filter:blur(1em);-webkit-backdrop-filter:blur(1em)}
.ciL2b:hover, .ciL2b:focus, .ciL2b:active, .ciL2b:focus-within{background:white;box-shadow:0 0.5em 1em rgba(0,0,0,.5)}
.carddwtitle{}
.cardherowrapper{padding:2em;border-radius:0.75em;color:#8f7860;border-top:0.75em solid #af9890;background:#fff4e8;background:repeating-linear-gradient(-45deg, white, white 0.5em, #fff4e8f8 0.5em, #fff4e8f8 1em);box-shadow:0 0.5em 1em rgba(0,0,0,.3)}
.insidenf{position:sticky;top:6.5em;margin-bottom:1em;overflow-x:auto;scrollbar-width:thin}
.insidebuf{height:calc(12vh + 12.5em)}
.insidelink{position:relative;bottom:0;justify-content:flex-end!important;padding-top:0!important}

.ib{border-radius:13.5px 13.5px 0 0;background-color:#f6f6f6;padding:1em;margin:0!important}
#sL2a:hover, #sL2a:active, #sL2a:focus, #sL2a:focus-within{box-shadow: 0 0.5em 0.75em rgba(0,0,0,.2)}
#sL2a .dogrun #iL2b{box-shadow: 0 0.5em 1em rgba(0,0,0,.1);border:0.15em solid rgba(128,128,128,.3);margin:0.5em}
#sL2a:hover .ib{color:#333390;background-color:#ccccf8}
#sL2a:hover{border:2.5px solid #aaaaff}
#dwhi{width:1.75em;height:1.75em;vertical-align:middle;margin-right:0.1em;pointer-events:none;object-fit:contain}
.fin_dw{color:#339933!important} #iL3a.fin_dw{border-bottom:2px dotted #339933}
.new_dw{color:#33aaff!important} #iL3a.new_dw{border-bottom:2px dotted #33aaff}
.adf{background:#ccffcc!important;color:#003300} .bdf{color:#339933} .bdf, .cdf{background:#eeeeee} .ddf{background:#55ff55!important;color:#005500}
.dogrun{margin:0.5em;padding:1em;border-radius:0.75em;min-height:10em;text-align:center;background:#ccffcc;display:grid;grid-template-columns:repeat(auto-fill,minmax(14.5em, 1fr))}
.uncat{grid-template-columns: repeat(auto-fill,minmax(20em, 1fr));display:grid;text-align:center}
.uncat #gL2a{border-radius:0.4em;transition-duration:0.1s;margin:0.25em;background-color:white;box-shadow: 0 0.5em 1em rgba(0,0,0,.1);height:calc(100% - 0.5em)}
.uncat #gL2b{border-radius:0.4em;transition-duration:0.1s;padding:1em;background-color:rgba(255,255,255,.85);height:calc(100% - 2em);width:calc(100% - 2em);justify-content: center}
.uncat #gL2b:hover{background-color:rgba(255,255,255,.9)}
.cL2a, .uncat #gL2a{background-position:center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: center center}
.dogrun #iL2a, .uncat #gL2a{position:relative;cursor:pointer;transition-duration:0.1s}
.dogrun #iL2a a div #drtxt{color:black} #drtxt{color:black!important}
.dogrun #iL2a:hover, .uncat #gL2a:hover{box-shadow: 0 1em 2em rgba(0,0,0,.2)}
#drl {position:absolute;bottom:0;left:1em;right:1em;border-top:1px dashed #aaaaaa;padding-top:1em}
.dwyr_wrp{padding-bottom:1em;border-bottom:2px dotted grey}
.dwyr_sel{background:white;padding:0.75em;border-radius:1em}
.dwyr_sel input{margin-top:0;width:calc(50% - 0.25em - 4px)}
.dwyr_sel_u{display:grid;grid-template-columns: repeat(auto-fill,minmax(20%, 1fr));user-select:none}
.dwyr_sel_i{border-radius:5em;text-align:center;margin:0.1em;border:0.15em dotted rgba(140,180,240,0);vertical-align:middle;line-height:1.7em;font-size:1.3em;font-weight:bold;color:#4488cc;cursor:pointer;transition-duration:0.1s}
.dwyr_sel_i:hover{border:0.15em dotted rgba(140,180,240,.6)}
.dwyr_sel_y{text-align:center;font-size:0.8em;transform:translateX(-0.1em);margin-bottom:0.3em}

#dw_head_a{color:black}
#digsrtxt {display:none!important}
#digbtn, #digbtn form, #digbtn form input, #digsrtxt, #fdigbtn, #mdigbtn, #mdigbtn form, #mdigbtn form input{transition-timing-function: cubic-bezier(.77,0,.18,1);transition-duration:0.4s}
#digbtn{border-radius:5em;position:absolute;left:calc(5% + 5em + 16em - 2rem - 0.5em);right:calc(100% - 5% - 5em - 16em - 0.5em);padding:0.5em 0 0.5em 1em}
#digbtn img, #fdigbtn img, #mdigbtn img{vertical-align:middle;object-fit:contain;width:2rem;height:2rem;cursor:pointer;user-select:none;-webkit-touch-callout:none}
#digbtn form, #fdigbtn form, #mdigbtn form{display:inline-block;width:0;margin:0}
#digbtn form input, #fdigbtn form input, #mdigbtn form input{outline:none!important;-webkit-appearance:none;padding:0;margin:0;background:none;border:none;height:2rem;margin-left:0.4em;width:calc(100% - 0.4em);font-size:0.85rem}
#fdigbtn, #digbtn:hover, #digbtn:active, #digbtn:focus, #digbtn:focus-within{background:white;box-shadow:0 1.5em 2em rgba(0,0,0,.3);backdrop-filter:blur(1em);-webkit-backdrop-filter:blur(1em);padding:0.75em;right:calc(5% + 5em + 16em - 2rem - 0.75em);z-index:100000}
#fdigbtn form, #digbtn:hover form, #digbtn:active form, #digbtn:focus form, #digbtn:focus-within form{width:calc(100% - 2rem)}
#mdigbtn form{width:calc(100% - 2rem)}
#fdigbtn{border-radius:5em;box-shadow:0 0.5em 0.75em rgba(0,0,0,.2);margin:0.35em;margin-top:0;position:-webkit-sticky;position:sticky;top:2.3em}
#fdigbtn:hover, #fdigbtn:active, #fdigbtn:focus, #fdigbtn:focus-within{box-shadow:0 0.75em 1em rgba(0,0,0,.35)}
#mdigbtn{flex-shrink:0;width:calc(10em + 5%)}
#mdigbtn:hover, #mdigbtn:active, #mdigbtn:focus, #mdigbtn:focus-within{}
@supports (backdrop-filter:blur(1em)) {.dwdt_top, .hero_card{background:rgba(255,255,255,.8)}}
@supports (-webkit-backdrop-filter:blur(1em)) {.dwdt_top, .hero_card{background:rgba(255,255,255,.8)}}

#obslink, .big{background:white;margin:1em;padding:1.75em;width:calc(100% - 5.5em);border-radius:2em}
.big{background:none!important;padding-top:calc(env(safe-area-inset-top) + 1.75em + 5vh)}
.big{width: calc(50% - 5.625em);display: inline-block}
.dwlist{margin:0.5em;margin-top:1.5em;width:calc(100% - 1em);max-width:16.5em}
.dwlistmore{word-break:break-word;background:#f8f8f8;box-shadow: 0 0.25em 0.5em rgba(0,0,0,0);border:2px solid #cccccc;margin-top:0.75em;border-radius:1em;padding:1em;width:calc(100% - 2em - 4px)}
.txtcp{word-break: break-all;border:2px solid #cccccc;padding:1em;margin:1em 0;width:calc(100% - 4px)}
.greenmore{background:#ffffcc}
.greenmore p1 small #a-outer-border-hover{color:orange}
.dwlistmore p1 small #a-outer-border-hover{display:inline-block;line-height:1em}

#dwedit {border:2px solid rgba(128,128,128,.5);z-index:1;padding:2em;padding-top:1.5em;margin:2em;border-radius:2em;background-color:white;box-shadow: 0 1em 2em rgba(0,0,0,.3);position:absolute;top:4em;left:calc(5% + 3em - 1px);right:calc(5% + 3em - 1px);max-height:calc(100vh - 9em - 45px);overflow-y:auto}
#dwedit input {width:calc(100% - 2em - 4px);margin:0.5em 0;border-radius:1em}
#dwedit textarea {resize:none;width:calc(100% - 0.5em);margin:0.5em 0}
#dwedit #newid {flex-grow:1;margin:0.5em 1.5em;width:auto;text-align:center}

@media (prefers-color-scheme: dark) {
.dwdt_top{background:rgba(0,0,0,.85)}
.hero_card{background:#1f1c19}
@supports (backdrop-filter:blur(1em)) {.dwdt_top, .hero_card{background:rgba(0,0,0,.6)}}
@supports (-webkit-backdrop-filter:blur(1em)) {.dwdt_top, .hero_card{background:rgba(0,0,0,.6)}}

#iL2a, #sL2a, .dwyr_sel, .dm_top_cnt, .dtl_wrp{background:#1f1c19} #iL2b{background:#3f3c39ee} #iL3c #iL3cO, #iL3cO, .cdf, .rate{background:#3f3c39} .iL3cI{background:#4f4c49}
#iL3c #iL3cO, #iL3b, .iL1txt, .dogrun #iL2a a div #drtxt, #dw_head_a, #digbtn form input, #fdigbtn form input, #mdigbtn form input{color:white} #drtxt, .dwts{color:white!important}  #iL3a, .dogrun #iL2a a div #iL3a, .circle_text{color:#aaaaaa} .bdf{color:#44ff44} .dwyr_sel_i{color:#66aaee}
.adf{background:#008800!important;color:#77ff77} .fin_dw{color:#55dd55!important} #iL3a.fin_dw{border-bottom:2px dotted #55dd55}
.iL1txt{border-top:0.4em solid #555555}
.dogrun{background:#006600}
.dogrun #iL2a:hover{background:#2f2c29}
.uncat #gL2a{background-color:#3f3c39}
.uncat #gL2b{background-color:rgba(0,0,0,.7)}
.uncat #gL2b:hover{background-color:rgba(0,0,0,.5)}
.ib{background-color:#2f2c29}
.ciL2b{background:#0f0c09cc}
.ciL2b:hover, .ciL2b:focus, .ciL2b:active, .ciL2b:focus-within{background:#0f0c09}
.ricecake {background-color:#1f1c19;color:#fffcf9;box-shadow: 0.5em 0.5em 0 rgba(160,160,255,.05);}
.ricecake > .ricecake_plate {background-color:#1f1c19}
.ricecake > .ricecake_dots > h3 {background: linear-gradient(0deg, rgba(160,160,255,.3) 40%, transparent 40%);}
#card3 #iL1 div:not(.dogrun) > #iL2a{background-color:#999}
#card3 #iL1 #iL2a #iL2ax{background-color:rgba(0,0,0,.8);background:linear-gradient(135deg, rgba(0,0,0,95) 0%, rgba(0,0,0,.95) 10%, rgba(0,0,0,.85) 40%, rgba(0,0,0,.6) 100%)}/*;width:calc(100% - 0.3em - 1.5em + 1px);border:0.15em solid rgba(128,128,128,.4)}*/
.dw_ambiG{display:block;width:100%;height:100%;filter:blur(2em);opacity:0.2;position:absolute;top:0;z-index:-1;object-fit:cover}
#iL2b{background:none}
#sL2a:hover .ib{background-color:#aaaaf0;color:#222280}
#sL2a:hover{border:2.5px solid #8888c0}
.cL2a, #sL2a, .dm_top_wrp, .dm_top_bw{background-image:repeating-linear-gradient(-45deg, #1f1c19, #1f1c19 0.3em, #0f0c09 0.3em, #0f0c09 0.6em)} #sL2a{border:2.5px solid rgba(128,128,128,.4)}
#fdigbtn, #digbtn:hover, #digbtn:active, #digbtn:focus, #digbtn:focus-within{background:#2c2c34}
#mdigbtn:hover, #mdigbtn:active, #mdigbtn:focus, #mdigbtn:focus-within{}
.rate:not(:checked) > label {color:#6f6c69}
.dpv_hide_btn_lbl{color:white;background-color:#3f3c39}
#dwedit{background-color:#1f1c19}

#thatlangsel{background:#3f3c39;color:white}
body {color:#eeeeee;background-color:#0f0c09!important}
#a-outer-border-hover:hover{background:rgba(255,255,255,.05);color:#5bb5ff}
#a-outer-border-hover:active{background:rgba(255,255,255,.1)}
#obslink, .big{background:#1f1c19}
.txtcp{color:white;border:2px solid rgba(0,0,0,0);background:#3f3c39}
.dwlistmore{background:#3f3c39;border:2px solid #666666}
.greenmore{background:#3f8c39;border:2px solid #55cc77}
@supports (backdrop-filter:blur(1em)) {#digbtn:hover, #digbtn:active, #digbtn:focus, #digbtn:focus-within{background:rgba(56,56,68,.8)}}
@supports (-webkit-backdrop-filter:blur(1em)) {#digbtn:hover, #digbtn:active, #digbtn:focus, #digbtn:focus-within{-webkit-backdrop-background:rgba(56,56,68,.8)}}
}

@media (max-width:1280px) {
.no_desktop{display:inline-block!important}
.card{padding:2em calc( 16px + 1em );width:calc( 100% - 32px - 2em )}
.logo_img{width:calc(25% + 10em);max-width:100%}
.cL2a .logo_img{width:auto;padding:5em 0 2em 0}
.cL2aYT{min-height:50vh}
.hero_card{max-width:unset;overflow:unset;white-space:unset;width:calc(100% - 4em);border-radius:0;transform:translate(0);box-shadow:none;margin-bottom:2em;padding:1.5em 2em}
.dwc_wp{transform:translateY(0)}
#iR1{padding-left:calc(0.5em + 16px + 1em);padding-right:calc(100% - 16px - 1em - 16em)}
.big{width:auto;display:block}
.dwlist{max-width:calc(33.3% - 1em)}
.dpv_ytemb_endx{margin-left:calc(2em - 1.25em)}
.dpv_carrier{scroll-padding:calc(16px + 1em)}
#mdigbtn{width:calc(5em + 10%)}
#digbtn{left:calc(16px + 1em + 16em - 2rem - 0.5em);right:calc(100% - 16px - 1em - 16em - 0.5em);max-width:100vw}
#digbtn:hover, #digbtn:active, #digbtn:focus, #digbtn:focus-within{right:calc(16px + 1em + 16em - 2rem - 0.75em)}
#dwedit {left:0;right:0}
}

@media (max-width:950px) {
.dwlist{max-width:100vw}
#iR1{position:initial;width:auto;height:auto;padding:0.5em}
#iL1{margin-left:0} #iR1, #iL1{width:100%} #iL2a{margin-left:0;margin-right:0}
.dm_top_picker{width:calc(100% - 10em);max-width:100vw}
.dm_top_cnt{padding-left:3em;padding-right:3em;width:calc(100% - 6em);border-radius:4em 4em 0 0}
.dm_top_picker_wrp{margin-left:env(safe-area-inset-left);margin-right:env(safe-area-inset-right)}
.dwc_gsw{justify-content:flex-start!important}
.rate{margin:0.5em}
.dwc_f2{display:block;overflow-x:hidden;flex-flow:wrap!important}
.dwc_ytemb iframe{width:calc(100vw - 5.5em);height:calc((100vw - 5.5em) / 16 * 9)}
.dwc_ytemb{width:calc(100% - 1em)}
.dpv_ytemb iframe{width:100%;height:auto;min-height:calc(100vw / 16 * 7.5)}
.dpv_ytemb{width:100%;margin-right:0}
.dpv_carrier{display:block;overflow-x:hidden;flex-flow:wrap!important}
.dpv_ytemb_endx{display:none}
.dpv_hide, .dpv_hide_btn:checked{display:none!important;width:100%}
.dpv_hide_btn_lbl_wrp{display:block}
.dpv_hide_btn_lbl{display:block}
.dpv_hide_btn:checked + .dpv_hide{display:block!important}
#iL2ax .dwc_ytemb iframe{height:calc((100vw - 6.5em) / 16 * 9)}
#iL2ax .dwc_ytemb iframe, .dwytT{width:100%}
#digbtn{right:2.4em;left:calc(100% - 3.9em - 2rem);padding:0.75em 0.7em 0.75em 0.75em;background:white;box-shadow:0 0.2em 0.4em rgba(0,0,0,.3);backdrop-filter:blur(1em);-webkit-backdrop-filter:blur(1em);position:fixed}
#digbtn:hover, #digbtn:active, #digbtn:focus, #digbtn:focus-within{left:2.4em;right:2.4em}
@media (prefers-color-scheme: dark) {#digbtn{background:#2c2c34}
@supports (backdrop-filter:blur(1em)) {#digbtn{background:rgba(56,56,68,.8)}}
@supports (-webkit-backdrop-filter:blur(1em)) {#digbtn{-webkit-backdrop-background:rgba(56,56,68,.8)}}}
}

@media (max-width:520px) {
.card{padding:16px;width:calc( 100% - 32px )}
.footer{padding:0 20px 20px 20px!important;width:calc( 100% - 40px )!important}
.logo_img{width:100%;position:relative;padding:16px 0;max-height:25vh;display:none}
.cL2a .logo_img{width:auto;padding:3em 0 1em 0}
.cL2aYT{min-height:8em}
.hero_card{padding:1.5em;width:calc(100% - 3em);margin-bottom:1em}
.dm_top_picker{width:calc(100% - 3em)}
.dm_top_picker_wrp{margin-left:0;margin-right:0;width:100%}
.dm_top_cnt{padding:1em;padding-top:0.75em;border-radius:3em 3em 0 0;width:calc(100% - 2em)}
.dm_top_txt{top:0}
.dtl_wrp{margin:1em 0;border-radius:0;box-shadow:none!important}
.fatrice > .ricecake{max-width:unset;margin:0.5em 0;width:100%;flex-basis:unset}
.timelineX{flex-grow:1;text-align:center;margin-top:0.5em;margin-bottom:0.5em}
.circle_text_wrp{padding-right:0;border-right:0 solid rgba(128,128,128,.5);padding-bottom:1em;margin-bottom:1em;border-bottom:0.15em dotted rgba(128,128,128,.5);width:100%;justify-content:center;}
.dwc_f1{margin:0.25em;margin-top:1em}
.dwc_f1_l2{background:none!important;padding:0;flex-flow:wrap!important;overflow-x:unset}
.dwc_f1_l2 > .dwc_hr{display:none!important}
.dm_top_txt > p1 {padding:0.5em}
.dwc_ytemb iframe{width:calc(100vw - 3.5em);height:calc((100vw - 3.5em) / 16 * 9)}
.dpv_ytemb iframe{min-height:calc(100vw / 16 * 9);border-radius:0;box-shadow:none}
.dpv_ytemb{margin-bottom:0}
.dpv_carrier{padding:1em 0!important;width:100%!important}
.dpv_txt{margin:0.5em 1em}
.dpv_wrp > .iL1txt{padding:1.5em;width:calc(100% - 3em)}
#iL2ax .dwc_ytemb iframe{height:calc((100vw - 4.5em) / 16 * 9)}
#obslink{margin:1em 0;padding:1.5em;width:calc(100% - 3em);border-radius:1em}
.big{margin:0;padding:0.85em;width:calc(100% - 1.7em);border-radius:1em;padding-top:calc(env(safe-area-inset-top) + 0.85em + 20px)}
.dogrun{grid-template-columns:repeat(auto-fill,minmax(100%, 1fr))}
.uncat #gL2a{height:auto;max-height:25vh}
.uncat{display:block}
#mdigbtn{background:#ffffff}
#mdigbtn:hover, #mdigbtn:active, #mdigbtn:focus, #mdigbtn:focus-within{border-bottom:none}

#dwedit {border:none;margin:0;padding:1em;border-radius:0;box-shadow:none;position:fixed;top:0;bottom:0;left:0;right:0;max-height:100vh;overflow-y:auto}
#dwedit input {width:calc(100% - 2em - 4px);margin:0.5em 0;border-radius:1em}
#dwedit textarea {resize:none;width:calc(100% - 0.5em);margin:0}
#dwedit #newid {order:1;flex-grow:1;margin:1em 0;width:auto;text-align:start}

@media (prefers-color-scheme: dark){#mdigbtn{background:#2f2c29}}
.cL2a{padding-top:0}
#iL2a{margin:0.5em 0 1em 0}
.insidenf{top:0}
.cardherodrop{width:calc(100% - 32px)!important;box-shadow:0 0.5em 1em #00000000;padding:16px 16px 32px 16px!important;border-radius:0;background:rgba(0,0,0,0.7);background:linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0.7) 100%);max-width:100vw;backdrop-filter:blur(0);-webkit-backdrop-filter:blur(0)}
.cLtxt{color:#eeeeeecc} .carddwtitle{color:white;text-shadow:0 0.1em 0.3em #00000080}
.insidelink{justify-content:space-between!important}
#mdigbtn form{width:0}
#fdigbtn{top:1.1em;top:calc(1.1em + env(safe-area-inset-top))}
#digbtn, #mdigbtn{right:1.5em;padding:0.5em;top:0;left:calc(100% - 2rem - 2.55em);box-shadow:0 0.2em 0.3em rgba(0,0,0,.2);padding-top:1.75em;padding-top:max(1.75em, calc(0.5em + env(safe-area-inset-top)));border-radius:0 0 0.5em 0.5em}
#digbtn form input, #figbtn form input{margin-left:0.75em;width:calc(100% - 0.75em)}
#digbtn:hover, #digbtn:active, #digbtn:focus, #digbtn:focus-within, #mdigbtn:hover, #mdigbtn:active, #mdigbtn:focus, #mdigbtn:focus-within{left:0;right:0;top:0;border-radius:0;padding:0.75em;padding-top:1.75em;padding-top:max(1.75em, calc(0.5em + env(safe-area-inset-top)));box-shadow:0 0.4em 0.8em rgba(0,0,0,.3)}
#digbtn:hover form, #digbtn:active form, #digbtn:focus form, #digbtn:focus-within form, #mdigbtn:hover form, #mdigbtn:active form, #mdigbtn:focus form, #mdigbtn:focus-within form{width: calc(100% - 2rem)}
#mdigbtn{margin:0;width:auto;border-bottom:none;position:absolute;backdrop-filter:blur(1em);-webkit-backdrop-filter:blur(1em)}
@media (prefers-color-scheme: light) {@supports (backdrop-filter:blur(1em)) {#digbtn:hover, #digbtn:active, #digbtn:focus, #digbtn:focus-within, #mdigbtn:hover, #mdigbtn:active, #mdigbtn:focus, #mdigbtn:focus-within{background:rgba(255,255,255,.8)}} @supports (-webkit-backdrop-filter:blur(1em)) {#digbtn:hover, #digbtn:active, #digbtn:focus, #digbtn:focus-within, #mdigbtn:hover, #mdigbtn:active, #mdigbtn:focus, #mdigbtn:focus-within{background:rgba(255,255,255,.8)}}}
@media (prefers-color-scheme: dark) {@supports (backdrop-filter:blur(1em)) {#digbtn:hover, #digbtn:active, #digbtn:focus, #digbtn:focus-within, #mdigbtn:hover, #mdigbtn:active, #mdigbtn:focus, #mdigbtn:focus-within{background:rgba(40,40,40,.8)}} @supports (-webkit-backdrop-filter:blur(1em)) {#digbtn:hover, #digbtn:active, #digbtn:focus, #digbtn:focus-within, #mdigbtn:hover, #mdigbtn:active, #mdigbtn:focus, #mdigbtn:focus-within{background:rgba(40,40,40,.8)}}}
}

@media print {body, .content, .footer{display:block!important} .dwc_ytemb iframe{display:none!important}}

.hero_img{height:auto!important;min-height:15em} @media print {.hero_img{height:calc(50vh + 10em)!important;min-height:0}}